@model AdventureWorks.Presentation.ViewModels.RaceHistoryViewModel

@{
    ViewData["Title"] = "create";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Competitors</label>

                @Html.DropDownListFor(x => x.CompetitorId, new SelectList(ViewBag.Competitors, "Id", "Name"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Tracks</label>
                @Html.DropDownListFor(x => x.RaceTrackId, new SelectList(ViewBag.RaceTrack, "Id", "Description"), new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                <label asp-for="DateTrack" class="control-label"></label>
                <input asp-for="DateTrack" class="form-control" />
                <span asp-validation-for="DateTrack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSpent" class="control-label"></label>
                <input asp-for="TimeSpent" class="form-control" />
                <span asp-validation-for="TimeSpent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-light">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
